body {
    background-size: cover;
    text-align: center;
}

#home1 {
    position: relative;
    width: 100%;
    height: 120px;
    font-size: 20px;
}

.inline-block-1 {
    position: absolute;
    top: 5px;
    left: 0%;
    width: 48%;
    text-align: center;
}

.inline-block-2 {
    position: absolute;
    top: 5px;
    right: 0%;
    width: 48%;
    text-align: center;
}

.inline-block-3 {
    position: absolute;
    top: 65px;
    left: 0%;
    width: 48%;
    text-align: center;
}

.inline-block-4 {
    position: absolute;
    top: 65px;
    right: 0%;
    width: 48%;
    text-align: center;
}

#home2 {
    position: relative;
    width: 100%;
    height: 150px;
    font-size: 20px;
}

.inline-block-5 {
    position: absolute;
    top: 5px;
    left: 0%;
    width: 48%;
    text-align: center;
}

.inline-block-6 {
    position: absolute;
    top: 5px;
    right: 0%;
    width: 48%;;
    text-align: center;
}

.inline-block-7 {
    position: absolute;
    top: 95px;
    left: 0%;
    width: 48%;
    text-align: center;
}

.inline-block-8 {
    position: absolute;
    top: 95px;
    right: 0%;
    width: 48%;
    text-align: center;
}

#viewClock {
    float : center;
    font-size: 14pt;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#user_name {
    margin-top: 10px;
}

.text {
    line-height: 31px;
}

#set1, #set2, #set_weight {
    width: 100px; 
}

#weekGraph {
    
}

.training:active {
    background-color: rgba(0,0,0,0.4);
    color: rgba(255,255,255,1);
}

.trainer {
    margin-top: 10%;
    
}

.counter {
    margin-top: 15%;
}

button {
    display: inline-block;
    border: none;
    background-color: transparent;
    outline: none;
}
button:active {
    outline: none;
}

.count-button {
    margin-top: 5px;
}
.count-button:active, .start-button:active, .stop-button:active, .reset-button:active{
    opacity: 0.4;
}

.start-button:disabled {
    opacity: 0.4;
}

#sitUpStart, #squatStart {
    width: 95%;
    height: 50px;
    background-color: #A5DF00;
    font-size: 30px;
    font-family: Times New Roman;
    color: #FAFAFA;
    text-shadow: 2px 2px 1px #999999;
}

#sitUpStop,#squatStop {
    width: 95%;
    height: 50px;
    background-color: #FFBF00;
    font-size: 30px;
    font-family: Times New Roman;
    color: #FAFAFA;
    text-shadow: 2px 2px 1px #999999;
}

.reset-button {
    margin-top: 5px;
}

#weightTable, #trainingTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.ons-swiper-target {
    height: 100%;
}